{:extension/name :tick-addon-sci
 ; build
 :cljs/module :main
 :cljs/when-defined :sci
 :cljs/namespace [tick.helper
                  tick.editor]
 :cljs/ns-bindings {'tick.helper {'dt-format tick.helper/dt-format}
                    'tick.editor {'instant-editor tick.editor/instant-editor}}}
